[tool.interrogate]
ignore-init-method = false
ignore-init-module = true
ignore-magic = true
ignore-semiprivate = false
ignore-private = false
ignore-property-decorators = false
ignore-module = true
ignore-nested-functions = false
ignore-nested-classes = true
ignore-setters = false
fail-under = 0
exclude = ["Benchmarks"]
ignore-regex = ["writeOutput", "getOutputDir", "outputContent",
    "getInputParameters", "getPlantAttributes",
    "prepareNextTimeStep", "addPlant", "progressPlant"]
# possible values: 0 (minimal output), 1 (-v), 2 (-vv)
verbose = 0
quiet = false
whitelist-regex = []
color = true
omit-covered-files = false
