pytest
numpy
lxml
matplotlib
pandas
pytest-subtests
pdoc
vtk #== 9.2.2 # version disabled because only required for OpenGeoSys
coverage
interrogate
scipy # required for SolarRadiation above-ground concept
importlib
